<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>404 Page</title>
  </head>
  <body>
    <div class="header">
      <h1>Error -- page not found</h1>
      <p>The page you're looking for does not exist!</p>
      <div class="navigation">
        <nav>
          <ul>
            <li><a href="/">Homepage</a></li>
            <li><a href="/about">About Page</a></li>
            <li><a href="/bogs/create">New Blog</a></li>
          </ul>
        </nav>
      </div>
    </div>
    <div class="main content">
      <h2>This is an error page!</h2>
    </div>  
  </body>
</html>