<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Node Crash Course</title>
</head>
<body>
  <div class="header">
    <h1>Testing Express Application</h1>
    <p>This is a testing application for the Net Ninja Course</p>
    <div class="navigation">
      <nav>
        <ul>
          <li><a href="/">Homepage</a></li>
          <li><a href="/about">About Page</a></li>
          <li><a href="/bogs/create">New Blog</a></li>
        </ul>
      </nav>
    </div>
  </div>
  <div class="main blogs-content">
    <h2>All Blogs Display Here</h2>
  </div>  
</body>
</html>