<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Node Crash Course | <%= title %></title>
  </head>
  <body>

    <div class="header">
      <h1>Testing Express Application | <%= title %></h1>
      <p>This is a testing application for the Net Ninja Course</p>
      <div class="navigation">
        <nav>
          <ul>
            <li><a href="/">Homepage</a></li>
            <li><a href="/about">About Page</a></li>
            <li><a href="/blogs/create">New Blog</a></li>
          </ul>
        </nav>
      </div>
    </div>
    <div class="main content">
      <h2>All Blogs</h2>

      <% if (blogs.length > 0) { %>
        <% blogs.forEach(blog => { %>
          <h3 class="blog-title"><%= blog.title %></h3>
          <p class="blog-snippet"><%= blog.snippet %></p>
        <% }) %>
      <% } else { %>
        <p>There are no blogs to display.</p>
      <% } %>

    </div>  
  </body>
</html>